.back {
  width: 90%;
  height: 40%;
  margin: 5%;
  background-color: rgba(233, 236, 239, 0.6);
  opacity: 0.6;
  border-radius: 5px;
}
.modal {
  width: 100%;
  height: 40%;
}
.hide {
  direction: none;
}

.bells {
  height: 50px;
  width: 50px;
}
/* 
.loginBox {
  height: 80%;
  width: 60%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e9ecef;
  border-radius: 25px;
  margin-top: 150pxpx;
  border: double;
  opacity: 0.9;
} */
