.small {
  font-size: 35px;
  font-family: "Great Vibes", cursive;
}

.col-4 {
  text-align: center;
}

.middleHeart {
  border-top: 10px;
  height: 50px;
  width: 50px;
}

.middleHeartevent {
  margin-top: 170px;
  height: 80px;
}

.time {
  height: 20px;
  width: 20px;
  margin-top: 6px;
  margin-right: 12px;
}

.address {
  color: black;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}
.row2 {
  text-align: center;
  margin-bottom: 55px;
}

.superSmall {
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
}

.titleCard2 {
  position: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lobster", cursive;
}

.col-3 {
  margin-left: auto;
  margin-right: auto;
}

.eventlist {
  background-color: rgb(238, 236, 236);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 40px;
  margin-top: 55px;
  margin-bottom: 55px;
  align-items: center;
  padding-left: 5%;
  /* border: double; */
  padding-right: 3%;
}

#root > div > div > div.eventlist.row > div:nth-child(1) > div {
  margin-bottom: 60px;
}

.form {
  height: 40px;
  font-size: 20px;
  font-family: none;
  margin-top: 20px;
}
.form2 {
  cursor: pointer;
  border: 2px solid black;
  margin-bottom: 50px;

  /* position: absolute; */
  bottom: 0;
  width: 100%;
  /* padding: 10px; */
  background-color: rgb(144, 138, 138);
  color: white;
  font-family: "Libre Baskerville", serif;
}

.form2:hover {
  color: white;
  background: rgb(109, 108, 108);
  font-size: 25px;
}

.column12 {
  margin-bottom: 20px;
}

.eventCards {
  width: 400px;
  height: 350px;
  padding: 5px;
}
