figure {
  border-radius: 50%;
}

.row2 {
  background-color: rgb(238, 236, 236);
  margin-left: 70px;
  margin-right: 70px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 40px;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.titleCard {
  /* background-color: rgb(172, 172, 172); */
  width: 20%;
  text-align: center;
  font-family: "Lobster", cursive;
}

.p1 {
  padding: 1em;
}

.aboutcouple {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bioPic {
  border-radius: 50%;

  min-height: 300px;
  min-width: 300px;
  height: 20vw;
  width: 20vw;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bioPicContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bioPic.left {
  animation-name: moveright;
  animation-duration: 1.5s;
}
.bioPic.right {
  animation-name: moveleft;
  animation-duration: 1.5s;
}

@keyframes moveright {
  from {
    right: 50vw;
  }
  to {
    right: 0vw;
  }
}

@keyframes moveleft {
  from {
    left: 50vw;
  }
  to {
    left: 0vw;
  }
}
