.jumbotron {
  padding-top: 20px;
}
.nameClick{
  cursor: pointer;
}
.rsvplist{
  width: 90%;
  margin: 5%;
  background-color: rgba(233,236,239,.6);
  opacity: 0.6;
  border-radius:5px;
}
.rsvplist>h1{
  text-align: center;
}
.search{
  width: 30%;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 10px;
}
.searchBtn{
  margin: 10px;
  opacity: 1;
  background-color: rgba(0,0,225,1);
  color: white
}