.btn-secondary {
  background-color: transparent !important;
}

.nav-item:hover {
  font-weight: 600;
  background-color: white;
}

.dropdown-item:hover {
  font-weight: 600;
  background-color: black;
  color: white;
}
